.browse-books {
  display: flex;
  color: #3E205B !important;
  background-color: white !important;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #3E205B !important;
  padding: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #F5C81A #3E205B;
  cursor: pointer;
}

.sidebar li:hover {
  text-decoration: none;
}

.content {
  width: 80%;
  padding: 2rem;
  background-color: #471345;
}

.content h1 {
  margin-bottom: 2rem;
  text-align: center;
  color:#F5C81A;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.book-card {
  background-color: white !important;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #D269E6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;    
}

.book-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.book-card h3 {
  margin: 0.5rem 0;
  color: #F5C81A;
}

.book-card p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.books-grid p {
  color: rgb(196, 67, 181);
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
