.register-page {
  background-color: #2D1737 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.register-container {
  background-color: #2D1737 !important;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #D269E6 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  max-width: 150px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-size: 1.5em;;
}

.form-control {
  border-radius: 5px;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.register-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #F5C81A !important;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #2D1737;
}

.register-btn:hover {
  background-color: #FFD700 !important;
}
